@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
/* Use this code for this font: 
font-family: 'Arimo', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

/* navbar */

.navbar{
  width: 100%;
  min-height: 10vh;
  background-color: #1D1E26;
  display: flex;
  align-items: center;
}

.navbar img{
  height: 50px;
}

.navbar h2{
  color: #64DCFB;
  margin: 0 10px;
}

.navbar p{
  color: #DEEBE8;
  font-size: 1.5rem;
  font-weight: bold;
  width: fit-content;
  position: absolute;
  right:10px;
}

/* List */

.list{
  width: 100%;
  height: 90vh;
  background-color: #24272E;
  padding: 2rem 3rem ;
  color: white;
  font-size: x-large;
}
.list ul{
  margin-left: 1.5rem;
  position: relative;
  z-index: 1;
}

.list li{
  margin: 1.5rem 0;
}

.list h1{
  margin: 2rem 0;
  position: relative;
  z-index: 1;
}

.list li::marker{
  color: #64DCFB;
}

#bckg{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* media queries */

@media screen and (max-width:446px) {
  .navbar{
    height: 15vh;
    width: 100%;
    display: block;
    position: relative;
  }
  .list{
    height: 100%;
    width: 100vw;
  }
  .navbar h2{
    position: absolute;
    top: 1rem;
    left: 0;
    transform: translateX(60px);
  }
  .navbar p{
    position: absolute;
    top: 7vh;
    left: 0;
    transform:translateX(70px);
  }
  .navbar img{
    position: absolute;
    transform: translateY(50%);
  }
}